Hello. Do come in. Please take a seat and have a look around.
My name is Paul Brian and this is my online home.
Some <a href="%(HTML_ROOT)s/About/About.html">more about me</a>

<h2>Whats all this?</h2>
An IT manager should be able to do all the jobs under him/her, in the same way a head chef should be able to cook well.  This site is a guide to running an IT department or team.  It about the stuff that you should obviously know, (but no-one tells you) like setting up spam filters on mail servers.  Its also about the opinions and attitudes you need, why project management is hard, and why you must be able to read code.  And its about other people in the industry, interviews and feedback.
<p>The examples are all aimed at FreeBSD servers, a solid, dependable OS that can be found in many high end server farms.


<h2><a href="%(HTML_ROOT)s/Introduction/index.html">Why does it matter?</a></h2>
It is a cliche but, computing is going to change the world. And it will take skilled and determined people at the highest reaches of companies and institutions to make that change create better, more human and more interesting places to live and work.  I call those people <em>IT Managers</em>.   

<h2><a href="%(HTML_ROOT)s/SoHoFromScratch/index.html">How Do I build it?</a></h2>
<em>Every</em> IT manager <em>should</em> be able to build and run a complete Small Office or Home Office Network, in the same way every chef should be able to prepare a 3 course meal.  The fact that many people called IT managers cannot is one of the reasons I have written this site.  This area is the more traditional "how to" - a collection of recipies if you will.


<h2><a href="%(HTML_ROOT)s/Attitude/index.html">Attitude</a></h2>
Not everything is about configuring systems. Most of the job is configuring people, and the <em>trade secrets</em> of IT management.  I give my opinions on everything from project management to out-greening the competition. The youngsters round 'ere think I am a dinosaur.  


<h2><a href="%(HTML_ROOT)s/OtherPoV/index.html">Interviews and Other People</a></h2>
A collection of interviews and commentaries from other IT Managers, trying to capture the essence of this craft, and hopefully a funny story or two.  



